.form-container {
    width: auto;
    background-color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-row {
    display: flex;

}

.left-column {
    width: 300px;
}

.left-column label {
    width: 100px;
    margin-bottom: 5px;
}

.left-column input[type="text"] {
    width: 180px;
    margin-bottom: 5px;
}

.right-column {
    margin-left: 20px;
}

textarea {
    margin-top: 5px;
    width: 100%;
    height: 100px;
}