.grid-container {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 100px auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer"
    ;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: chartreuse;
}

.sidebar {
    grid-area: sidebar;
    background-color: darkslategray;
}

.main {
    grid-area: main;
    background-color: antiquewhite;
}

.card {
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

img {
    width: 290px;
    height: 390px;
}